{% extends "App_CB/plantilla_base_1.html"%}

{% load static %}

{% block titulo %}
        <!-- Masthead-->
        <header class="masthead">
            <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
                <div class="d-flex justify-content-center">
                    <div class="text-center">
                    <div class="offset-3 col-6"><img class="img-fluid" src="{% static 'App_CB/assets/img/HAM_BACON.jpg'%}" alt="..." /></div>
                    <h4 class="text-white">Este proyecto fue creado por Carlos Bolivar y Carolina como precto final para curso CoderHouse, es una web pensada para un restaurante intaliano, las funciones son crear un registro de usuario dentro de los cuales se puedan crear reservas, visualizar el menu y accedear a los datos de clientes por parte del usuario administrador...</h4>
                    </div>
                </div>
            </div>
        </header>


{% endblock %}