{% extends "App_CB/plantilla_base_1.html" %}

{% block titulo %}
        <!-- Masthead-->
        <header class="masthead">
            <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
                <div class="d-flex justify-content-center">
                    <div class="text-center">
                        <h2 class="text-white-50 mx-auto mt-2 mb-5"></h2>

                    </div>
                </div>
            </div>
            <div class="mibackground">
                <form action="/reserva/" method="POST"> 

                    <p>Ingrese datos de reserva </p>
                
                    <p> Nombre del cliente: <input type="text" name="Importe_nom" /> </p>

                    <p> Cantidad de personas: <input type="number" name="Importe_num" />  </p>
                
                    <p> Fecha de reserva <input type="date" name="Fecha_importe" />  </p>
                
                    <input type="submit" value="enviar informacion" />
                    </form>   
                </div>
        </header>            
{% endblock %}



